/*providing margins for main content*/
body {
	margin: auto 10px;
}

header {
	margin: -10px -10px; /*removing margins for header*/
	background-color: yellow;
	height: 120px;
	line-height: 120px;
}

.navbar-brand {
	height: 100%;

	font-size: 50px;
	font-family: serif;
	color: purple;
}

.navbar-default {
	background-color: yellow;
	border-color: yellow;
}

.navbar-default .navbar-brand {
	margin-top: 25px;
	color: purple;
}

#menu-page-title {
	font-style: italic;
	font-family: serif;
	color: brown;
	margin-top: 120px;
}

#menu-item {
	color: purple;
	background-color: yellow;
	text-align: justify;
	font-size: 1.5em;
}

#nav-list {
	background-color: transparent;
}

#nav-item {
	color: cyan;
	border: 3px purple solid;
	font-size: 1.5em;
	background-color: red;
	text-align: center;
}